$primary-bg-color: #e1d4c9;
$container-bg-color: #665f55;
$backdrop-bg-color: rgba(64, 63, 61, 0.8);
$dark-text-color: #403f3d;
$light-text-color: #e1d4c9;
$accent-text-color: #b0907a;
$border-light-color: #c1b6ad;
$border-dark-color: #665f55;
