@import "../abstract/variables";

.footer-items-wrapper {
  background-color: variables.$border-dark-color;
  padding: 100px;
  border-radius: 40px;
  display: flex;
  align-items: center;
//   justify-content: center;
  gap: 100px;
}

.footer-texts {
  inline-size: 530px;
}

.footer-texts .heading-2 {
  color: variables.$light-text-color;
}

.footer-texts span {
  color: variables.$accent-text-color;
}

.social-media {
  display: flex;
  gap: 12px;
  margin-top: 40px;
}

footer .btn-rounded {
  color: variables.$border-light-color;
  border: 1px solid variables.$border-light-color;
  &:hover {
    background-color: variables.$border-light-color;
    color: variables.$dark-text-color;
    transition: all 0.3s ease-in-out;
  }
}

footer .heading-3{
    color: variables.$light-text-color;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -15px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact {
    display: flex;
    gap: 8px;
    width: fit-content;
}

.contact .link {
    color: variables.$light-text-color;
}